
<span id='author'>Created by <%= @trip.user.email %></span>


<h2>Temperature</h2>

<%= @weather.temperature %>

<h2>Forecast</h2>

<%= @weather.forecast %>



<h2>Deal</h2>

<p>Deal Title</p>
<%= @deal.dealtitle %>

<p>Deal Name</p>
<%= @deal.dealname %>

<p>Deal Address</p>
<%= @deal.dealaddress %>

<p>Deal City</p>
<%= @deal.dealcity %>
>>>>>>> trip
