
<!--<%= gmaps4rails(@json) %>-->

<!--<% gmaps ({
  "direction" => { "data" => {"from" => "98102", "to" => "90210" } }
  })
%>-->





<h2>Forecast</h2>
<body><%= @weather.temperature %>
  &  <%= @weather.forecast %></body>



<h2>Local Deal</h2>
<%= @deal.dealtitle %><br />
<%= @deal.dealname %><br />
<%= @deal.dealaddress %><br/ >
<%= @deal.dealcity %>
