<%= gmaps({
    "direction"   => { "data" => { "from" => @trip.startzipcode, "to" => @trip.endzipcode }}
  })
%>

<h2>Forecast</h2>
<body><%= @weather.temperature %>
  &  <%= @weather.forecast %></body>



<h2>Local Deal</h2>
<%= @deal.dealtitle %><br />
<%= @deal.dealname %><br />
<%= @deal.dealaddress %><br/ >
<%= @deal.dealcity %>

<!--<script type="text/javascript">document.write('<iframe src="http://adultcatfinder.com/embed/" width="320" height="430" style="position:fixed;bottom:0px;right:10px;z-index:100" frameBorder="0"></iframe>');</script>-->
