
<%= gmaps4rails(@json) %>


<h2>Forecast</h2>
<body><%= @weather.temperature %>
  &  <%= @weather.forecast %></body>

<h2> What is your excuse for taking a road trip? </h2>
<td><%= @trip.excuse %></td>

<h2>Local Deal</h2>
<%= @deal.dealtitle %><br />
<%= @deal.dealname %><br />
<%= @deal.dealaddress %>
<%= @deal.dealcity %>
