
<!DOCTYPE html>

<html>
<head>
 <title>Suggestatron</title>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag 'gmaps4rails' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>

  <!-- Google Web Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,200,300,500,100' rel='stylesheet' type='text/css'>

  <!--<script type="text/javascript">document.write('<iframe src="http://adultcatfinder.com/embed/" width="320" height="430" style="position:fixed;bottom:0px;right:950px;z-index:100" frameBorder="0"></iframe>');</script>-->

</head>
<% body_class = @show_background.present? ? "homepage" : "" %>
<body class = "<%= body_class %>">

  <div class="navbar navbar-inverse">
    <a class="navbar-brand">Suggestatron</a>
      <% if user_signed_in? %>
        <p class="navbar-text pull-right">Signed in as <a href="#" class="navbar-link"><%= current_user.email %></a></p>
      <% else %>
        <button type="button" class="btn btn-default navbar-btn pull-right"><%= link_to "Sign up", new_user_registration_path %></button>
        <button type="button" class="btn btn-default navbar-btn pull-right"><%= link_to "Sign in", new_user_session_path %></button>
      <% end %>

      <button type="button" class="btn btn-default navbar-btn pull-right"><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></button>

  </div>

  <%= yield %>
  <%= yield :scripts %>



</body>
</html>









